.count {
  padding: 3rem 0;
  text-align: center;
  background: #000;
  color: #fff;
  margin-top: 5rem;
}

.count__content {
  margin: 0 auto;
  display: flex;
}

.count__item {
  text-align: center;
}

.count__item p:first-child {
  font-size: 3.5rem;
}

.count__item p:last-child {
  font-size: 1.5rem;
  color: #fff;
}

.counter {
  color: #e250e5;
}
