.course__card {
  padding: 20px;
  background: #343444;
  border-radius: 10px;
  height: 380px;
}

.course__img img {
  border-radius: 10px;
  height: 160px;
}

.course__img {
  margin-bottom: 15px;
}

.course__title {
  margin-bottom: 15px;
  height: 48px;
}

.course__title a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.course__title a:hover {
  color: #fff;
}

.creator__img {
  width: 40px;
  height: 40px;
}

.creator__img img {
  border-radius: 50%;
}

.creator__info h6 {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.772);
  margin-bottom: 0;
  font-weight: 300;
}

.creator__info span {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 0;
  font-weight: 400;
}

.creator__info i {
  color: #ffc107;
}

.info__link {
  color: #e250e5;
  cursor: pointer;
  font-size: 0.9rem;
}

.info__link a:hover {
  color: #fff;
}

.courses__top h3 {
  color: #fff;
}

.courses__top span a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #5142fc;
}
